<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo mdi-action-find-in-page">ShipFinder</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#/profile"><i class="mdi-social-person center"></i></a></li>
      <li ng-hide="authenticated"><a ui-sref="main.signup"><i class="right"></i>Sign Up</a></li>
      <li><a class="pointer" ng-click="logout()"><i class="right"></i>Logout</a></li>
    </ul>
  </div>
</nav>

<nav>
  <div class="subtitle small">
    <a href="" class="left">El yate que siempre quisiste, está a un click de distancia en ShipFinder.</a>
  </div>
</nav>

<ui-view/>


