<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img src="{{yachts[params.id].photo}}">
        <span class="card-title">{{yachts[params.id].model}} {{yachts[params.id].price | currency}}</span>
      </div>
      <div class="card-content">
        <p ng-show="yachts[params.id].sold"><b style="color:red; font-size: 100px;">SOLD!</b></p>
        <p><strong>Model: </strong>{{yachts[params.id].model}}</p>
        <p><strong>Description: </strong>{{yachts[params.id].description}}</p>
        <p><strong>Price: </strong>{{yachts[params.id].price | currency}}</p>
      </div>
      <div class="card-action" ng-hide="yachts[params.id].sold">
        <a class="pointer"><i class="mdi-communication-call medium"></i>Contacto</a>
        <a class="pointer"  ng-click="buyYacht(yachts[params.id])"><i class="mdi-editor-attach-money medium"></i>Comprar</a>
      </div>
    </div>
  </div>
</div>
