<div class="row yatchs">
    <div ng-repeat='yacht in yachts | filter : searchText' class="col s12 m4 l4">
      <div class="card">
        <div class="card-image">
          <img src="{{yacht.photo}}">
          <span class="card-title">{{yacht.model}} {{yacht.price | currency}}</span>
        </div>
        <div class="card-content">
          <p>{{yacht.description}}</p>
        </div>
        <div class="card-action">
          <a href="#/detail/{{$index}}"><i class="mdi-content-add"></i>Info</a>
        </div>
      </div>
    </div>
</div>